footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: black !important;
    color: white;
    justify-content: center;
    height: max-content;
    padding-top: 20px;
    text-align: center;
  }
  
  .aa {
    list-style: none !important;
    text-decoration: none !important;
    color: white;
    font-size: 25px;
  }
  
  .aa:hover {
    color: rgb(37, 215, 228);
  }
  
  .footlist {
    display: inline;
    text-align: center;
    line-height: 100px;
    margin: 25px;
  }